form{
    background: linear-gradient(to right, #202f4b, #0c2f57);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 50vh;
    border-radius: 15px;
    width: 450px;
}

.p-card-content {
    width: 250px;
}